<div class="container">
  <div class="row row-title">
    <div class="col-sm-12">
      <h3 class="title header">Ideias
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Pesquisar" ng-model="$ctrl.criteria" ng-change="$ctrl.view.applyFilter()"
            ng-model-options="{debounce: 300}">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-filter"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col">
      <div class="content">
        <div class="row">
          <div class="col" ng-repeat="item in $ctrl.view.items" ng-if="$ctrl.view.isList">
            <div class="card text-white card-idea" ng-class="{'bg-success': item.status === 'approved', 'bg-danger': item.status === 'recused', 'bg-warning': item.status === 'paused'}"
              ng-click="$ctrl.view.detail(item)">
              <div class="card-body">
                <blockquote class="card-blockquote">
                  <p>{{::item.title | limitTo:10}}...</p>
                  <footer>
                    <cite title="{{::item.author.user.firstName + ' ' + item.author.user.lastName}}">{{::item.author.user.firstName + ' ' + item.author.user.lastName}} </cite>
                  </footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
