<div class="container">
  <div class="row todo-add">
    <div class="col-sm-12">
      <div class="header">
        <h3>Adicione uma tarefa</h3>
      </div>
      <form novalidate ng-submit="view.add(todoForm)" name="todoForm">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control input-lg" ng-model="view.data">
            <span class="input-group-btn">
              <button class="btn btn-lg btn-primary" type="submit">Adicionar</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row todo-list">
    <div class="col-sm-12">
      <div class="header">
        <h3>Tarefas a fazer</h3>
      </div>
      <div class="list-group">
        <a href="" class="list-group-item" ng-hide="view.undone.length">
          Nao existem tarefas a fazer
        </a>
        <a href="#" class="list-group-item" ng-repeat="todo in view.undone">
          <div class="form-group">
            <div class="checkbox ">
              {{todo.data}}
              <div class="checkbox-right">
                <button class="btn btn-sm btn-default" type="button" ng-click="view.remove(todo.id)">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
                <label>
                  <input type="checkbox" ng-model="todo.done" ng-change="view.toggle(todo)">
                </label>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row todo-done" ng-show="view.done.length">
    <div class="col-sm-12">
      <div class="header">
        <h3>Tarefas feitas</h3>
      </div>
      <div class="list-group">

        <a href="#" class="list-group-item" ng-repeat="todo in view.done">
          <div class="form-group">
            <div class="checkbox ">
              {{todo.data}}
              <div class="checkbox-right">
                <button class="btn btn-sm btn-default" type="button" ng-click="view.remove(todo.id)">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
                <label>
                  <input type="checkbox" ng-model="todo.done" ng-change="view.toggle(todo)">
                </label>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
