.todo-add {
  margin: 20px -15px;
}

.todo-list,
.todo-done {
  .checkbox-right {
    float: right;
  }
  .list-group {
    line-height: 1;
    .btn {
      position: relative;
      top: -6px;
      left: -10px;
      border-radius: 50px;
      padding: 5px 8px;
    }
  }
}

ideas-component {
  .row-title {
    padding: 15px 0;
  }
  text-overflow: hidden;
  .content {
    .card {
      cursor: pointer;
      cite {
        color: #FFF;
      }
      &.card-idea {
        margin: 10px 0px;
      }
    }
    .card:hover {
      transform: scale(1.1);
    }
  }
  .card {
    transition: all 0.4s;
    .card-head {
      &.card-filter {
        i {
          padding: 10px !important;
        }
      }
    }
    &.card-options {
      max-width: 100%;
    }
  }
}
