<div class="modal-header">
  <h5 class="modal-title">{{$ctrl.resolve.author.firstName + ' ' + $ctrl.resolve.author.lastName}}
    <small class="text-muted" uib-tooltip="{{$ctrl.resolve.author.email}}">({{$ctrl.resolve.author.email}})</small>
  </h5>

  <button type="button" class="close" ng-click="$parent.$close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="content">
    <p>{{$ctrl.resolve.idea.title}}</p>

  </div>

</div>
<div class="modal-footer">
  <div class="row">
    <div class="col text-right">
      <small class="text-muted">situação</small>
      <span class="badge {{$ctrl.resolve.idea.status | ideaStatusFilter:true}}" uib-tooltip="{{$ctrl.resolve.idea.status | ideaStatusFilter}}">{{$ctrl.resolve.idea.status | ideaStatusFilter}}</span>
    </div>
  </div>
</div>
